<div style="text-align: center; margin: 1rem 0;">
    {% if page_obj.has_previous %}
    <a href="{% url 'homeapp:home' %}?page={{ page_obj.previous_page_number }}"
    class="btn btn-secondary rounded-pill" style="display: inline; text-align: center; font-size: .7rem; margin: 0 1rem;">
    {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <a href="{% url 'homeapp:home' %}?page={{ page_obj.number }}"
    class="btn btn-secondary rounded-pill active" style="display: inline; text-align: center; font-size: .7rem; margin: 0 1rem;">
    {{page_obj.number}}
    </a>
    {% if page_obj.has_next %}
    <a href="{% url 'homeapp:home' %}?page={{ page_obj.next_page_number }}"
        class="btn btn-secondary rounded-pill" style="display: inline; text-align: center; font-size: .7rem; margin: 0 1rem;">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div>