<div style="margin: 1 auto; text-align: center;">
    <ul class="pagination" style="display: inline-flex;">
      {% if page_obj.has_previous %}
        <li class="page">
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary rounded-pill">
            <span>Prev</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#" class="btn btn-secondary rounded-pill">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}" class="btn btn-gray rounded-pill">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page">
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary rounded-pill">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#" class="btn btn-secondary rounded-pill">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
</div>