.main-font{
    font-family: 'Redressed', cursive;
}

.footer{
    text-align: center; 
    margin-top: 2rem;
}

.header{
    text-align: center; 
    margin: 2rem 0;
}

.footer-btn{
    font-size: .6rem;   
}